body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  background-color: black;
}

#container {
  /* position: fixed; */
  background-color: 0;
  visibility: visible;
  /* padding: 40px; */
  margin: 0 auto 0 auto;
  width: max-content;
  max-width: 80vw;
  height: calc(100vh - calc(calc(calc(var(--box-width) + 2px) * 3) + 60px));
  /* overflow: overlay; */
  overflow-x: overlay;
  overflow-y: overlay;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid black;
}

#container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}

#container::-webkit-scrollbar-corner {
  background-color: transparent;
}

#container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(117, 117, 117, 0.5);
}

.section {
  visibility: visible;
  margin: 0;
  /* width: auto; */
  /* padding: 40px; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* #s-0 {
  margin: var(--btwn-words) 0 0 0;
} */

.letter {
  display: flex;
  background-color: white;
  cursor: default;
  width: var(--box-width);
  height: var(--box-width);
  align-items: center;
  justify-content: center;
  font-size: var(--text-font-size);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid black;
  margin: var(--btwn-letters);
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: black;
}

.letter.gray {
  background-color: var(--gray);
}

.letter.green {
  background-color: var(--green);
}

.letter.yellow {
  background-color: var(--yellow);
}

.letter.red {
  color: red;
}

.word {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0 var(--btwn-words);
}

.first {
  padding: 0;
}

#keyboard {
  /* position: fixed; */
  visibility: visible;
  /* padding: 40px; */
  margin: 0 auto 0 auto;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  visibility: visible;
  margin: 0;
  /* width: auto; */
  /* padding: 40px; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pie {
  touch-action: manipulation;
  background-color: white;
  position: relative;
  width: var(--box-width);
  height: var(--box-width);
  overflow: hidden;
  cursor: default;
  text-align: center;
  /* font-size: var(--text-font-size); */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid black;
  margin: var(--btwn-letters);
}

.pie > h2 {
  pointer-events: none;
  cursor: default;
  margin: 0;
  position: absolute;
  font-size: calc(var(--text-font-size) * 0.8);
  font-weight: normal;
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
  z-index: 100;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pie > h2.howto-h2 {
  font-size: calc(var(--text-font-size));
}

.pie > .circle {
  pointer-events: none;
  position: absolute;
  border: none;
  width: 100%;
  height: 100%;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom left;
}

.pie > .left {
  pointer-events: none;
  position: absolute;
  border: none;
  width: 50%;
  height: 100%;
  left: 0%;
  bottom: 0%;
}

.pie > .right {
  pointer-events: none;
  position: absolute;
  border: none;
  width: 50%;
  height: 100%;
  left: 50%;
  bottom: 0%;
}

.key.gray {
  background-color: var(--gray);
}

.key.yellow {
  background-color: var(--yellow);
}

.key.green {
  background-color: var(--green);
}

#win {
  display: none;
  /* visibility: hidden; */
  margin: 0 auto 0 auto;
  width: max-content;
  height: calc(calc(var(--box-width) + 2px) * 3);
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /* padding-bottom: 20px; */
}

#win > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 12px 0 12px;
  width: auto;
  height: calc(var(--box-width) * 1.45);
  color: white;
  font-size: var(--text-font-size);
}

#share {
  touch-action: manipulation;
  cursor: pointer;
}

#title, #title2 {
  display: flex;
  margin: 0 auto 0 auto;
  width: max-content;
  height: calc(var(--box-width2) * 1.25);
  font-size: var(--text-font-size);
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title2 {
  font-size: calc(var(--text-font-size) * 2);
  margin-bottom: 10px;
}

#title {
  transform: translate(0,calc(var(--box-width2) * 0.12));
}

.subtitle {
  display: flex;
  margin: 0 auto 0 auto;
  width: max-content;
  /* height: calc(var(--box-width) * 1.25); */
  font-size: calc(var(--text-font-size) * 0.75);
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle.small {
  /* margin-top: 1px; */
  font-size: calc(var(--text-font-size) * 0.6);
}

p {
  margin: 0;
}

a {
  display: inline;
  color: white;
}

#start-page {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  font-size: var(--text-font-size);
  background-color: black;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#howto {
  display: flex;
  margin-top: 8px;
  margin-bottom: 0;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

svg {
  touch-action: manipulation;
  width: calc(var(--box-width2) * 0.55);
  height: calc(var(--box-width2) * 0.55);
  cursor: pointer;
}

#howto-page {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 100%;
  left: 0%;
  /* float: right; */
  font-size: var(--howto-font-size);
  background-color: black;
  color: white;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: top 1s;
}

#inputdiv {
  display: flex;
  background-color: black;
  margin-top: 28px;
  margin-bottom: 10px;
  color: white;
  font-size: calc(var(--text-font-size) * 0.57);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#ninput {
  background-color: black;
  padding-left: 6px;
  margin-left: 15px;
  font-family: 'Outfit', sans-serif;
  border: thin solid white;
  width: 60px;
  font-size: calc(var(--text-font-size) * 0.57);
  color: white;
}

.buttondiv {
  display: flex;
  cursor: pointer;
  background-color: var(--green);
  margin-top: 18px;
  width: calc(var(--box-width2) * 6.3);
  height: calc(var(--box-width2) * 1.3);
  color: black;
  font-size: calc(var(--text-font-size) * 1.04);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bottombutton {
  background-color: var(--yellow);
}

#back {
  display: flex;
  touch-action: manipulation;
  position: fixed;
  cursor: pointer;
  color: white;
  width: var(--box-width);
  height: calc(var(--box-width) * 0.8);
  font-size: var(--text-font-size);
  margin: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu {
  display: flex;
  position: relative;
  width: 600px;
  max-width: 100vw;
  height: 100vh;
  /* float: right; */
  overflow-y: overlay;
  -webkit-overflow-scrolling: touch;
  font-size: var(--howto-font-size);
  background-color: black;
  color: white;
  flex-direction: column;
  justify-content: start;
  /* align-content: flex-start; */
  align-items: flex-start;
}

.howto-title {
  margin-top: 25px;
  width: 100%;
  font-size: calc(var(--text-font-size) * 1.3);
}

.howto-text {
  margin-top: 3px;
  /* padding-right: 15px; */
  width: 100%;
  font-size: calc(var(--howto-font-size) * 0.57);
}

.howto-subtitle {
  margin-top: 20px;
  width: 100%;
  /* margin-bottom: 8px; */
  font-size: calc(var(--text-font-size) * 0.85);
}

.howto-section {
  margin-top: 7px;
  margin-bottom: 4px;
}

.addmargin {
  margin-top: 13px;
}

.addsmall {
  margin-top: 8px;
}

.howto-word {
  padding-left: 0;
}

.howto-letter {
  margin-left: 0;
}

b.g {
  color: var(--green);
}

b.y {
  color: var(--yellow);
}

b.gr {
  color: var(--gray);
}

#ex {
  display: flex;
  touch-action: manipulation;
  position: absolute;
  left: calc(100% - calc(var(--box-width2) * 0.8));
  cursor: pointer;
  color: white;
  width: calc(var(--box-width2) * 0.8);
  height: calc(var(--box-width2) * 0.8);
  font-size: calc(var(--text-font-size) * 1.1);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {
  --green: rgb(0, 201, 134);
  --yellow: rgb(250, 200, 0);
  --gray: rgb(212, 212, 212);
  --btwn-letters: 1px;
  --btwn-words: 4px;
  --box-width: 48px;
  --box-width2: 48px;
  --text-font-size: 36px;
  --howto-font-size: 36px;
}
